.vh-100 {
    height: 100vh;
}

.nav-link.active {
    background-color: #0056b3;
    border-left: 3px solid #ffffff;
}

.bg-primary {
    background-color: #0080ff !important;
}

.bg-dark {
    background-color: #0080ff !important;
}

footer {
    padding: 1rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the sidebar takes the full height */
}

#sidebar .nav {
    flex-grow: 1;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the content area also takes the full height */
}

#content .navbar {
    flex-shrink: 0;
}

#content .flex-grow-1 {
    flex-grow: 1;
}
